.header{ display: flex;
    flex-direction: column;

    .logo{
          height: 5.5em;
   display: flex;
   align-items: center;
   justify-content: center;
      margin-left: auto;
      margin-right: auto;   } }

.nav {
      .barra
       {padding:.8rem;
       width: 95%;
       font-weight: 500;
       background-color: $bg-color;}}
       