
.contenedorSumate
{text-align: center; 
margin: 0 auto;
width: 95%;}

.bannerSumate
{position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h3 {position:absolute;
       top: 55%;
       padding: .5em;
       font-weight: bold;
    font-size: 1em;}
 
 
 .linkBanner
 {position: absolute;
    top: 40%;
    background-color:#efe7e5 ;
    opacity: 0.9;
    padding:10px;
    font-size: 1.5em;
    border-radius: 3px;
    font-weight: bold;
 :hover {padding: 15px;
 font-size: 1.3em;
 color: $color-fuente;}
 }}


.sumate
{display: flex;
justify-content: center;
background:linear-gradient(#efe7e5,white) ;
padding: 3rem;
margin-top: 10px;
margin-bottom: 15px;}

.sumateUno
{width: 50%;}

.sumateDos
{width: 50%;}